<h1> Sign Up Form </h1>

<form method="POST" action="/users/register/user">
    <input type="text" name="username" placeholder="username">
    <input type="text" name = "email" placeholder="email">
    <input type="text" name= "number" placeholder="phone number">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="confirmPassword" placeholder="Confirm Password">
    <button> Submit </button>
</form>

<li><a href="/users/register">Sign Up</a></li>
<li><a href="/users/logout">Logout!</a></li>
<li><a href="/users/login">Login!</a></li>